<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/style.css">


     <!-- Bootstrap Link -->
       <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <!-- Register Here -->
 <section id="login " class=" register-form" style="background-color: rgb(237, 230, 230); width: 100%;">
    <div class="container" >
        <div class="row">
            <!-- Column-1 -->
            <div class="col-lg-6">
                <img src="/images/registerImage.jpg" style="width: 100%; height: 550px; margin-top: 60px; margin-bottom: 120px;">
            </div>
            <!-- End Column-1 -->

            <!-- Column-2 -->
            <div class="col-lg-6 bglogin p-5">
                <form action="/userInsert" method="post">
                    <!-- logo -->
                    <center>
                        <img class="mb-4 rounded-circle" src="/images/registerLogo.png" alt="Sign Up Image"
                            width="50%" height="20%">
                    </center>

                    <% if(msg.length > 0) { %> 
                        <div class="alert alert-primary">
                            <!-- To print message -->
                             <%= msg %>
                        </div>
                  <% } %>
                   

                    <!-- User Name -->
                    <div class="row mb-4">
                        <div class="col-lg-2 text-center rounded text-light fw-light my-auto p-2" style="background-color: rgb(93, 20, 93);">User
                            Name</div>
                        <div class="col-lg-10">
                            <input name="n" class="form-control text-capitalize"  type="text" placeholder="Enter your name"
                                required>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="row mb-3">
                        <div class="col-lg-2 text-center  rounded text-light fw-light my-auto p-2"  style="background-color: rgb(93, 20, 93);">Email
                        </div>
                        <div class="col-lg-10">
                            <input name="e" class="form-control" type="email"  placeholder="name@example.com" required>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="row mb-4">
                        <div class="col-lg-2 text-center  rounded text-light fw-light my-auto p-2" style="background-color: rgb(93, 20, 93);">
                            Password</div>
                        <div class="col-lg-10">
                            <input name="p" class="form-control"  type="password" required>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div class="row mb-4">
                        <div class="col-lg-3 text-center  rounded text-light fw-light my-auto p-2" style="background-color: rgb(93, 20, 93);">
                            Confirm Password</div>
                        <div class="col-lg-9">
                            <input name="cp" class="form-control"  type="password" required>
                        </div>
                    </div>

                    <!-- Choose File -->
                    <div class="row mb-4">
                        <div class="col-lg-3 text-center  rounded text-light fw-light my-auto p-2"  style="background-color: rgb(93, 20, 93);">
                            Choose File</div>
                        <div class="col-lg-9">
                            <input class="form-control" name="image" type="file" required>
                        </div>
                    </div>

                    <!-- Button (Login) -->
                    <center>
                        <button type="submit" class="btn mb-5 btn-lg border" id="loginButton">Register</button>
                    </center>
                </form>
            </div>

            <!-- End Column-2 -->
        </div>
    </div>
</section>
<!-- End Register Here -->
</body>
</html>